@media (min-width: 320px) {
    .section-one {
        margin: 0;
        height: auto;
        position: relative;
    }

    .ES-EN .Text-Style-5 {
        font-weight: normal;
        margin-left: 15px;
    }

    header nav {
        width: 90%;
        max-width: 1000px;
        margin: 20px auto;
        background: #C94B18;
    }

    .menu_bar {
        display: none;
    }

    header nav ul {
        overflow: hidden;
        list-style: none;
    }

    header nav ul li {
        float: left;
    }

    header nav ul li a {
        color: #fff;
        padding: 20px;
        display: block;
        text-decoration: none;
    }

    header nav ul li span {
        margin-right: 10px;
    }

    header nav ul li a:hover {
        background: #C94B18;
    }

    section {
        padding: 20px;
    }

    .img-ball {
        display: none;
    }

    img.Fill-2 {
        display: none;
    }

    .Group {
        width: 100%;
        height: 274px;
    }

    .Line {
        display: none;
    }

    .navs {
        top: -5px;
        margin-left: 0px;

    }

    .the-best-raquets {
        position: absolute;
        top: -47px;
        left: -80px;
        width: 300px;
        height: 150px;
        font-family: 'Hind', sans-serif;
        font-size: 18px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.28;
        letter-spacing: -0.05px;
    }

    .btn-about-us {
        width: 269px !important;
        height: 53px !important;
        border-radius: 26.5px;
        border: solid 1px #fff;
        margin-top: 25px;
        margin-left: 0px;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .ACERCA-DE-NOSOTROS {
        width: 206px;
        height: 23px;
        margin: 0;
        font-family: 'Hind', sans-serif;
        font-size: 13px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 2.15;
        letter-spacing: 1.01px;
        color: #fff;
        display: inline-block;
    }
    .Nuestras-Raquetas .Text-Style-14 {
        font-weight: bold;
    }

    .Path1 {
        width: 28px;
        height: 6px;
        background: white;
    }

    .Inicio-Acerca-de-nos {
        display: inline-block;
        width: 100%;
        display: none;
        height: 37px;
        font-family: 'Hind', sans-serif;
        font-size: 12px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        color: #fff;
    }

    .Text-Style {
        margin-left: 0px;
    }

    .section-two {
        margin-left: 0px;
        width: 100%;
    }

    .TENNIS {
        width: 138px;
        height: 20px;
        font-family: 'Hind', sans-serif;
        font-size: 15px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 2;
        letter-spacing: 1.87px;
        text-align: left;
        color: #cbe346;
        margin-left: 15px;
        margin-top: 15px;
    }

    .raquets-and-accessories {
        width: 200px;
        height: 69px;
        margin: 0 0 15px -141px;
        font-family: 'Hind', sans-serif;
        font-size: 26px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.14;
        letter-spacing: -0.06px;
        color: var(--dark);
        margin-top: 80px;
    }

    .conoce-nuestras-raquetas {
        display: flex;
        flex-direction: column;
    }

    .btn-historia {
        width: 234px;
        height: 53px;
        margin: 25px 0 28px;
        box-sizing: border-box;
        border-radius: 26.5px;
        border: solid 1px #282e47;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 15px;
    }

    .Conoce-nuestras-raqu {
        width: 270px;
        height: 86px;
        font-family: 'Hind', sans-serif;
        font-size: 18px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.78;
        letter-spacing: 0.51px;
        color: #787878;
        margin-left: 15px;
    }

    .img-ball-color {
        width: 100%;
        position: relative;
    }

    img.ball-color-court-1405355 {
        width: 100%;
        object-fit: contain;
        position: relative;
    }

    .section-three {
        display: flex;
        margin-left: 0px;
        width: 100%;
    }

    .img-raquet,
    .img-raquets-two,
    .img-raquets-three {
        display: none;
    }

    .Nuestras-Raquetas {
        width: 259px;
        height: 151px;
        padding: 10px;
        font-family: 'Hind', sans-serif;
        font-size: 32px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.28;
        letter-spacing: -0.06px;
        color: #fff;
        position: absolute;
        left: 12px;
        top: 11px;
    }

    .Conoce-nuestras-raqu2 {
        width: 292px;
        height: 122px;
        margin: 61px 5px 10px 2px;
        font-family: 'Hind', sans-serif;
        font-size: 18px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.67;
        letter-spacing: 1.55px;
        color: #fff;
        position: absolute;
        right: 0px;
    }

    .group-copy {
        position: absolute;
        top: 214px;
        left: 81px;
    }

    .section-four {
        margin-left: 0px;
    }

    img.action-athlete-ball-342361 {
        object-fit: contain;
        margin-top: -4px;
        width: 100%;
    }

    .section-five {
        width: 100%;
        background-color: #cbe346;
        margin-left: 0px;
        margin-top: -4px;

    }

    .bullets {
        top: 192px;
        position: absolute;
        left: 87px;
    }

    .social-media {
        margin-left: 51px;
        margin-top: 41px;
    }

    .Inicio-Acerca-de-nosotros {
        width: 302px;
        height: 37px;
        top: 30px;
        display: inline-block;
        font-family: 'Hind', sans-serif;
        font-size: 13px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: 1.14px;
        color: var(--dark-two);
        position: relative;
        margin-left: 8px;
    }

    .Text-Style-2 {
        margin-left: 3px;
    }
    @media screen and (max-width:800px) {
        header nav {
            width: 80%;
            height: 100%;
            left: -100%;
            margin: 0;
            position: fixed;
            z-index: 1111111111;
            top: 56px;
        }
    
        header nav ul li {
            display: block;
            float: none;
            border-bottom: 1px solid rgba(255, 255, 255, .3);
        }
    
        .menu_bar {
            display: block;
            width: 100%;
            background: #ccc;
        }
    
        .menu_bar .bt-menu {
            display: block;
            top: -14px;
            width: 100px;
            padding: 20px;
            background: #C94B18;
            color: #fff;
            text-decoration: none;
            position: absolute;
            font-weight: bold;
            font-size: 25px;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
        }
    
        .menu_bar span {
            float: right;
            font-size: 40px;
        }
    
    }
    
}


@media(min-width:375px) {
    .Conoce-nuestras-raqu2 {
        right: 52px;
    }
    .bullets {
        top: 190px;
        left: 115px;
    }
    .group-copy {
        top: 229px;
        left: 108px;
    }
    .Text-Style-2 {
        margin-left: 16px;
    }
    .Inicio-Acerca-de-nosotros {
        width: 341px;
    }
}
@media (min-width:425px) {
    .navs{
        display: block;
    }
    .raquets-and-accessories {
        font-size: 34px;
    }
    .Nuestras-Raquetas {
        left: 62px;
        top: 11px;
      }
    .the-best-raquets {
        font-size: 27px;
    }
    .raquets-and-accessories {
        font-size: 36px;
        margin-top: 70px;
    }
    .Conoce-nuestras-raqu2 {
        right: 103px;
    }
    .Inicio-Acerca-de-nosotros {
        left: 36px;
    }
    .social-media {
        margin-left: 99px;
    }
}
@media (min-width:768px) {
   .menu-mobile {
    display: none;
   }
    .Inicio-Acerca-de-nos {
        width: 579px;
        height: 37px;
        margin: 44px 532px 27px 27px;
        font-family: 'Hind', sans-serif;
        font-size: 16px;
        display: block !important;
    }
    .raquets-and-accessories {
        font-size: 36px;
        margin-top: 58px;
        margin-left: 100px;
    }
    .TENNIS {
        text-align: right;
        color: #cbe346;
        margin-left: 80px;
        margin-top: 60px;
    }
    .conoce-nuestras-raquetas {
        display: flex;
    }
    .Conoce-nuestras-raqu {
        margin-left: 317px;
    }
    .btn-historia {
        margin-left: 313px;
    }
    .img-ball-color {
        width: 100%;
        position: relative;
    }
    .Nuestras-Raquetas {
        left: 357px;
        top: 60px;
    }
    .bullets {
        top: 253px;
        left: 372px;
    }
    .group-copy {
        top: 294px;
        left: 360px;
    }
    .Conoce-nuestras-raqu2 {
        top: 100px;
        right: 103px;
    }
    .social-media {
        margin-left: 111px;
        margin-top: 64px;
    } 
    .Inicio-Acerca-de-nosotros {
        width: 451px;
        height: 37px;
        top: 64px;
        display: inline-block;
        font-family: 'Hind', sans-serif;
        font-size: 13px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: 1.14px;
        color: var(--dark-two);
        position: relative;
        margin-left: 78px;
    }
}
@media (min-width:1024px) {

    img.Group {
        width: 1024px;
        height: 565px;
        object-fit: contain;
    }
    .Line {
        width: 1px;
        height: 588px;
        margin: 0 479px 370px 105px;
        border: solid 1px #fff;
        position: absolute;
        background: #fff;
        top: 0;
        display: block;
    }
    .img-ball {
        position: absolute;
        top: 25px;
        width: 37px;
        height: 37px;
        left: 37px;
        display: block;
    }
    .the-best-raquets {
        top: 100px;
        left: 71px;
        width: 709px;
        height: 257px;
        margin: 130px 402px 27px 100px;
        font-size: 53px;
    }
    img.Fill-2 {
        width: 37px;
        height: 37px;
        margin: 0 100px 163px 0;
        object-fit: contain;
    }
    .navs {
        width: 94%;
        margin-left: 64px;
        top: 25px;
        position: absolute;
    }
    .Inicio-Acerca-de-nos {
        display: inline-block;
        width: 579px;
        height: 37px;
        margin: 19px 532px 144px 100px;
    }
    .Inicio-Acerca-de-nos .Text-Style-10 {
        font-weight: bold;
        letter-spacing: 1.4px;
    }
    .Inicio-Acerca-de-nos .Text-Style {
        margin-left: 62px;
    }

    .section-two {
        width: 100%;
        margin: -6px 0 0px 35px;
        background-color: #f3f4f8;
        margin-left: 0;
    }
    .raquets-and-accessories {
        font-size: 50px;
    }
    .TENNIS {
        text-align: right;
        color: #cbe346;
        margin-left: 180px;
        margin-top: 60px;
    }
    .Conoce-nuestras-raqu {
        margin-left: 421px;
        margin-top: 28px;
    }
    .btn-historia {
        margin-left: 417px;
    }
    img.ball-color-court-1405355 {
        width: 530px;
        height: 468px; 
        object-fit: contain;
        position: relative;
    }
    .Nuestras-Raquetas {
        width: 259px;
        height: 151px;
        padding: 10px;
        font-family: 'Hind', sans-serif;
        font-size: 50px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.28;
        letter-spacing: -0.06px;
        color: #fff;
        position: absolute;
        left: 200px;
        top: 38px;
    }
    .Conoce-nuestras-raqu2 {
        top: 156px;
        left: 209px;
    }
    .bullets {
        top: 320px;
        left: 210px;
    }
    .group-copy {
        top: 340px;
        left: 200px;
    }
    .img-raquet {
        margin-right: 135px;
        position: relative;
        display: block;
    }
    .section-three {
        margin-left: 0px;
        width: 100%;
    }
    img.Fill-2 {
      display: block;
    }
   
    
}
@media (min-width: 1440px) {
    .section-one {
        width: 1440px;
        max-width: 1440px;
        margin-left: 35px;
    }
    .img-ball-color {
        width: 530px;
        height: 468px;
        position: relative;
        margin: 0px 0px 0px 3px;
    }
    img.Group {
        width: 1440px;
        height: 785px;
        object-fit: contain;
    }

    img.Fill-2 {
        width: 37px;
        height: 37px;
        margin: 0 100px 163px 0;
        object-fit: contain;
    }

    .Line {
        width: 1px;
        height: 811px;
        margin: 0 479px 370px 105px;
        border: solid 1px #fff;
        position: absolute;
        background: #fff;
        top: 0;
    }
    .TENNIS {
        width: 174px;
        height: 33px;
        margin-left: 255px;
        margin-top: 107px;
    }
    .raquets-and-accessories {
        width: 555px;
        height: 151px;
        margin: 0 0 15px 51px;
        margin-top: 96px;
    }
    .conoce-nuestras-raquetas {
        display: flex;
        flex-direction: row;
    }
    .Conoce-nuestras-raqu {
        width: 393px;
        height: 87px;
        margin-left: 485px;
        margin-top: -18px;
    }
    .section-two {
        width: 1437px;
        height: 392px;
        margin: -6px 0 0px 35px;
        background-color: #f3f4f8;
    }
    .section-three {
        width: 1440px;
        margin-left: 35px;
    }
    .section-four {
        width: 1440px;
        margin-left: 35px;
    }
    .section-five {
        width: 1440px;
        height: 203px;
        background-color: #cbe346;
        margin-left: 35px;
        margin-top: -4px;
    }
    img.action-athlete-ball-342361 {
        width: 1440px;
        height: 586px; 
        object-fit: contain;
    }
    .btn-historia {
        width: 234px;
        height: 53px;
        margin: 21px 0 0;
        margin-left: 162px;
    }
    .img-raquet {
        margin-left: 54px;
        position: relative;
        margin-right: 0px;
    }
    .img-raquets-two {
        margin-left: 37px;
        position: relative;
        display: block;
    }
    .img-raquets-three {
        display: block;
        margin-left: 37px;
    }
    
    
    .uno,
.dos,
.tres {
    width: 39px;
    height: 39px;
    background-color: #cbe346;
    position: absolute;
    top: 53px;
    border-radius: 50%;
    margin: 11px 0px 0px 17px;
    text-align: center;
}

.uno span {
    width: 23px;
    height: 33px;
    font-family: HelveticaNeue;
    font-size: 17px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.76;
    letter-spacing: 2.11px;
    text-align: center;
    color: #fff;
    position: relative;
}

.dos span {
    width: 23px;
    height: 33px;
    font-family: HelveticaNeue;
    font-size: 17px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.76;
    letter-spacing: 2.11px;
    text-align: center;
    color: #fff;
    position: relative;
}

.tres span {
    width: 23px;
    height: 33px;
    font-family: HelveticaNeue;
    font-size: 17px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.76;
    letter-spacing: 2.11px;
    text-align: center;
    color: #fff;
    position: relative;
}

}